.paginaReservas {
  background-color: var(--azul-claro);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.containerReservas {
  background-color: var(--blanco);
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: auto;
  gap: 15px;
  margin: 5vh auto;
}

.completatuReserva {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5vh;
}

.imagenReserva {
  width: 30vw;
  height: 40vh;
  object-fit: cover;
}
.fecha {
  width: 30vw;
  height: 5vh;
  border: none;
  padding: 5px;
  background-color: var(--blanco);
}
.contenedorCalendario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 5vh;
}
.hacerReserva {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 31vw;
  margin: 5vh auto;
  gap: 15px;
}
.botonConfirmar {
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  border: none;
  width: 12vw;
  height: 7vh;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 430px) {
  .containerReservas {
    width: 90vw;
  }

  .completatuReserva {
    font-size: 24px;
  }
  .imagenReserva {
    width: 70vw;
    height: 30vh;
  }

  .contenedorCalendario {
    width: 70vw;
    margin-top: 3vh;
  }
  .fecha {
    width: 95%;
  }
  .hacerReserva {
    width: 70vw;
    margin-top: 3vh;
  }
  .botonConfirmar {
    width: 70vw;
  }
}
