:root {
  --azul-claro: #a3bac3;
  --azul-oscuro: #003b95;
  --blanco: #eaebed;
  --amarillo: #ffb700;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 10px;
}
